---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Leandro Alvim</div>
    <div class="text-3xl py-3 font-bold">Computer Science Professor and Researcher</div>
    <div class="py-2">
      <text class="text-lg">
        Hello! I'm Leandro Alvim, a proud DS.c. in Computer Science from Puc-Rio. Currently, I'm based at the Department of Computer Science (DCC) at the multidisciplinary institute of UFRRJ. My academic journey extends to being an active member of the postgraduate program in Digital Humanities (PPGIHD) at UFRRJ. Additionally, I contribute by advising in the Engineering Systems Program (PESC).

My research primarily focuses on the field of Artificial Intelligence, where I am deeply engaged in developing new methods. My interests span various applications, including health, sports, digital law, and algorithm fairness. This multidisciplinary approach allows me to explore and contribute to AI's potential in improving diverse aspects of our world. Welcome to my space, where science meets innovation!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://br.linkedin.com/in/leandro-alvim-1494b815" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest News</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={post.data.url}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
